@font-face {
    font-family: "JetBrains Sans";
    src: url("fonts/JetBrainsSans-Regular.woff2");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-Regular.woff2");
}

:root {
    font-family: "JetBrains Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 300;

    background-color: #fdfffc;
    text-align: center;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    align-items: center;


}

/*
--ink-black: #011627ff;
--strawberry-red: #f71735ff;
--turquoise: #41ead4ff;
--porcelain: #fdfffcff;
--amber-glow: #ff9f1cff;
*/

h1 {
    font-size: 29px;
    line-height: 39px;
    font-weight: 300;
}

.title {
    margin-bottom: 40px;
}

#app {
    max-width: 1280px;
}


#import-form-overlay {
    display: none; /* Úplne skryté, kým JS nezmeni na flex */
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Polopriehľadné čierne pozadie */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#import-form-overlay form {
    display: flex; /* Vnútri overlay-u sa zreťazí do stĺpca */
    flex-direction: column;
    width: 360px;
    padding: 30px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: white;
    position: relative;
}


#close-form{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

input {
    margin-bottom: 2px;
    padding: 10px 10px;
    border-radius: 4px;
    border : 1px solid #ddd;
    font-size: 1em;
    width: 100%;
}

label {
    display: block;
    margin: 20px 0 10px;
}

.logo {
    margin-top: 45px;
    margin-left: 20%;
    align-self: flex-start;
}

img {
    max-width: 100%;
    height: auto;
}



button, a {
    font-family: "JetBrains Mono", Inter, system-ui, sans-serif;
    background-color: #011627;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
}

button:hover {
    background-color: #ff9f1c;
    border: 1px solid #e68f19; /* Mierne tmavší odtieň pre orámovanie */
}


@media (max-width: 875px) {

    .logo {
        margin-top: 10px;
    }

    .title {
        margin-bottom: 30px;
    }


}